<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.asgab.repository.BusinessOpportunityProductMapper">
	
	<select id="get" parameterType="long" resultType="BusinessOpportunityProduct">
		select id,business_opportunity_id,product_id,sale_mode,budget,deleted
		from sales_booking_production.pms_business_opportunity_product
		where deleted=1 and id=#{id}
	</select>
	
	<select id="getByBusinessOpportunityId" parameterType="long" resultType="BusinessOpportunityProduct">
		select id,business_opportunity_id,product_id,sale_mode,budget,deleted
		from sales_booking_production.pms_business_opportunity_product
		where deleted=1 and business_opportunity_id=#{business_opportunity_id}
	</select>

	<insert id="save" parameterType="BusinessOpportunityProduct" useGeneratedKeys="true" keyProperty="id">
		insert into sales_booking_production.pms_business_opportunity_product (business_opportunity_id,product_id,sale_mode,budget,deleted)
		values (#{business_opportunity_id},#{product_id},#{sale_mode},#{budget},1)
	</insert>
	
	<insert id="update" parameterType="BusinessOpportunityProduct">
		update sales_booking_production.pms_business_opportunity_product set 
			business_opportunity_id=#{business_opportunity_id},
			product_id=#{product_id},
			sale_mode=#{sale_mode},
			budget=#{budget},
			deleted=#{deleted}
		where id = #{id}
	</insert>
	
	<delete id="delete" parameterType="long">
	     update sales_booking_production.pms_business_opportunity_product set deleted=2 where id=#{id}
	</delete>
	
</mapper> 
