<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.asgab.repository.ClientMapper">

    <sql id="client_columns">
  		clientname,client_brand,industry_id,whether_channel,channel,currency_id,company_adress,whether_cross_district,
  		qualification_name,website_name,website_address,organization_code,icp,business_licence,organization_code_scan_file,
 		business_licence_scan_file,icp_scan_file,platform,status,created_at,user_id,updated_at
    </sql>
    
    <sql id="client_columns_for_join">
        a.clientname,a.client_brand,a.industry_id,a.whether_channel,a.channel,a.currency_id,a.company_adress,a.whether_cross_district,
  		a.qualification_name,a.website_name,a.website_address,a.organization_code,a.icp,a.business_licence,a.organization_code_scan_file,
 		a.business_licence_scan_file,a.icp_scan_file,a.platform,a.status,a.created_at,a.user_id,a.updated_at
    </sql>
    
    
	<select id="get" parameterType="long" resultType="Client">
		select a.id, <include refid="client_columns_for_join" /> ,c.channel_name as channel_name,GROUP_CONCAT(d.`id`) as saleIds, GROUP_CONCAT(d.`name`) as saleNames
		from xmo.clients a 
		left join sales_booking_production.share_clients b on a.id = b.client_id 
		left join xmo.users d on b.share_id = d.id
		left join sales_booking_production.channels c on a.channel = c.id
		where a.id = #{id}
	</select>

	<select id="search" parameterType="map" resultType="Client">
		select a.id, <include refid="client_columns_for_join" />, c.channel_name as channel_name,GROUP_CONCAT(d.`id`) as saleIds, GROUP_CONCAT(d.`name`) as saleNames
		from xmo.clients a 
		left join sales_booking_production.share_clients b on a.id = b.client_id
		left join xmo.users d on b.share_id = d.id
		left join sales_booking_production.channels c on a.channel = c.id 
		where 1 = 1
		<if test="clientname != null">
			and a.clientname like "%"#{clientname}"%"
		</if>
		<if test="client_brand != null">
			and a.client_brand like "%"#{client_brand}"%"
		</if>
		<if test="platform != null">
			and a.platform like "%"#{platform}"%"
		</if>
		<if test="status != null">
			and a.status = #{status}
		</if>
		<if test="createDateStart != null">
			<![CDATA[
			and a.created_at >= #{createDateStart}
			]]>
		</if>
		<if test="createDateEnd != null">
			<![CDATA[
			and a.created_at <=  #{createDateEnd}
			]]>
		</if>
		group by a.id
		<if test="sort != null and sort!=''">
			order by ${sort}
		</if>
	</select>
	
	<select id="count" parameterType="map" resultType="int">
	select count(1) from (
		select count(1) 
		from xmo.clients a 
		left join sales_booking_production.share_clients b on a.id = b.client_id
		left join xmo.users d on b.share_id = d.id
		left join sales_booking_production.channels c on a.channel = c.id 
		where 1 = 1
		<if test="clientname != null">
			and a.clientname like "%"#{clientname}"%"
		</if>
		<if test="client_brand != null">
			and a.client_brand like "%"#{client_brand}"%"
		</if>
		<if test="platform != null">
			and a.platform like "%"#{platform}"%"
		</if>
		<if test="status != null">
			and a.status = #{status}
		</if>
		<if test="createDateStart != null">
			<![CDATA[
			and a.created_at >= #{createDateStart}
			]]>
		</if>
		<if test="createDateEnd != null">
			<![CDATA[
			and a.created_at <=  #{createDateEnd}
			]]>
		</if>
		group by a.id) t 
	</select>

	<insert id="save" parameterType="Client" useGeneratedKeys="true" keyProperty="id">
		insert into xmo.clients (<include refid="client_columns" />)
		values ( #{clientname},#{client_brand},#{industry_id},#{whether_channel},#{channel},#{currency_id},
		#{company_adress},#{whether_cross_district},#{qualification_name},#{website_name},#{website_address},
		#{organization_code},#{icp},#{business_licence},#{organization_code_scan_file},#{business_licence_scan_file},
		#{icp_scan_file},#{platform},#{status},#{created_at},#{user_id},#{updated_at})
	</insert>
	
	<update id="update" parameterType="Client">
		update xmo.clients set 
			clientname=#{clientname},client_brand=#{client_brand},industry_id=#{industry_id},whether_channel=#{whether_channel},
			channel=#{channel},currency_id=#{currency_id},company_adress=#{company_adress},whether_cross_district=#{whether_cross_district},
  			qualification_name=#{qualification_name},website_name=#{website_name},website_address={website_address},
  			organization_code=#{organization_code},icp=#{icp},business_licence=#{business_licence},organization_code_scan_file=#{organization_code_scan_file},
 			business_licence_scan_file=#{business_licence_scan_file},icp_scan_file=#{icp_scan_file},platform=#{platform},status=#{status},
 			updated_at=#{updated_at}
		where id = #{id}
	</update>
	
	<select id="getAdvertisersByIdList" parameterType="list" resultType="Client">
	select id,<include refid="client_columns" /> from xmo.clients
	where id in
	<foreach collection="list" item="id" separator="," open="(" close=")">
		#{id}
	</foreach>
	</select>
	
</mapper> 