<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.asgab.repository.ReportMapper">
	
	<select id="getOpportunitysByProduct" parameterType="Report" resultType="Report">
		select t.product_id,t.product_name,t.currency,sum(t.budget) as budgetSum from (
			<!-- 有订单,订单不为完成. 取订单 -->
			select adv.product_id as product_id,products.name as product_name,ord.budget_currency as currency, sum(adv.budget_ratio) as budget from orders ord 
				right join advertisements adv on ord.id=adv.order_id 
				left join products as products on adv.product_id = products.id
			where adv.order_id in (
				select distinct(c.id) from business_opportunities a 
					left join business_opportunity_orders b on  a.id = b.business_opportunity_id 
					left join orders c on c.id = b.order_id
				where c.id is not null and  (c.state != 'examine_completed' or c.state is null)
				<if test="reportDate_start != null and reportDate_start !=''">
					<![CDATA[
					and c.start_date >= #{reportDate_start}
					]]>
				</if>
				<if test="reportDate_end != null and reportDate_end !=''">
					<![CDATA[
					and c.ending_date <= #{reportDate_end}
					]]>
				</if>
				<if test="progress_start != null and progress_start !=''">
					<![CDATA[
					and a.progress >= #{progress_start}
					]]>
				</if>
				<if test="progress_end != null and progress_end !=''">
					<![CDATA[
					and a.progress <= #{progress_end}
					]]>
				</if>
			)
			group by adv.product_id,ord.budget_currency
			union
			<!-- 没有订单, 取本身 -->
			select pro.product_id as product_id,products.name as product_name,cur.name as currency,sum(pro.budget) as budget from business_opportunities opp 
				right join business_opportunity_products pro on opp.id=pro.business_opportunity_id
				left join xmo.currencies cur on cur.id = opp.currency_id
				left join products as products on pro.product_id = products.id
			where opp.id in (
				select distinct(a.id) from business_opportunities a 
					left join business_opportunity_orders b on  a.id = b.business_opportunity_id 
					left join orders c on c.id = b.order_id
				where c.id is null
				<if test="reportDate_start != null and reportDate_start !=''">
					<![CDATA[
					and a.deliver_start_date >= #{reportDate_start}
					]]>
				</if>
				<if test="reportDate_end != null and reportDate_end !=''">
					<![CDATA[
					and a.deliver_end_date <= #{reportDate_end}
					]]>
				</if>
				<if test="progress_start != null and progress_start !=''">
					<![CDATA[
					and a.progress >= #{progress_start}
					]]>
				</if>
				<if test="progress_end != null and progress_end !=''">
					<![CDATA[
					and a.progress <= #{progress_end}
					]]>
				</if>
			)
			group by pro.product_id,cur.name
		) t 
		group by t.product_id,t.currency
		
	</select>
	
	<select id="getOrdersByProduct" parameterType="Report" resultType="Report">
		<!--取订单 -->
		select adv.product_id as product_id,products.name as product_name,ord.budget_currency as currency, sum(adv.budget_ratio) as budgetSum 
			from orders ord right join advertisements adv on ord.id=adv.order_id 
			left join products as products on adv.product_id = products.id
			where adv.order_id in (
				select distinct(c.id) from business_opportunities a 
					left join business_opportunity_orders b on  a.id = b.business_opportunity_id 
					left join orders c on c.id = b.order_id
				where c.id is not null and  (c.state = 'examine_completed')
				<if test="reportDate_start != null and reportDate_start !=''">
					<![CDATA[
					and c.start_date >= #{reportDate_start}
					]]>
				</if>
				<if test="reportDate_end != null and reportDate_end !=''">
					<![CDATA[
					and c.ending_date <= #{reportDate_end}
					]]>
				</if>
			)
			group by adv.product_id,ord.budget_currency
	</select>
	
	<select id="getReportBySaleTeam" parameterType="map" resultType="Report">
		
	</select>
	
	<select id="getReportBySaleRepresentative" parameterType="Report" resultType="Report">
		
	</select>
	
	<select id="getOpportunitysByChannel" parameterType="Report" resultType="Report">
		select t.channel,t.channel_name,t.currency,sum(t.budget) as budgetSum from (
			<!--  有订单,订单不为完成. 取订单 -->
			select clients.channel as channel ,channels.channel_name as channel_name,ord.budget_currency as currency, sum(adv.budget_ratio) as budget from orders ord 
				right join advertisements adv on ord.id=adv.order_id 
				left join products as products on adv.product_id = products.id
				left join clients as clients on clients.id = ord.client_id
				left join channels as channels on clients.channel = channels.id
			where adv.order_id in (
				select distinct(c.id) from business_opportunities a 
					left join business_opportunity_orders b on  a.id = b.business_opportunity_id 
					left join orders c on c.id = b.order_id
				where c.id is not null and  (c.state != 'examine_completed' or c.state is null)
				<if test="reportDate_start != null and reportDate_start !=''">
					<![CDATA[
					and c.start_date >= #{reportDate_start}
					]]>
				</if>
				<if test="reportDate_end != null and reportDate_end !=''">
					<![CDATA[
					and c.ending_date <= #{reportDate_end}
					]]>
				</if>
				<if test="progress_start != null and progress_start !=''">
					<![CDATA[
					and a.progress >= #{progress_start}
					]]>
				</if>
				<if test="progress_end != null and progress_end !=''">
					<![CDATA[
					and a.progress <= #{progress_end}
					]]>
				</if>
			)
			and  clients.whether_channel = 1 and clients.channel != '' and clients.channel != ''  is not null
			group by clients.channel,ord.budget_currency
			union
			<!--  没有订单, 取本身 -->
			select clients.channel as channel ,channels.channel_name as channel_name,cur.name as currency,sum(pro.budget) as budget  from business_opportunities opp right join business_opportunity_products pro on opp.id=pro.business_opportunity_id
				left join xmo.currencies cur on cur.id = opp.currency_id
				left join products as products on pro.product_id = products.id
				left join clients as clients on clients.id = opp.advertiser_id
				left join channels as channels on clients.channel = channels.id
			where opp.id in (
				select distinct(a.id) from business_opportunities a 
					left join business_opportunity_orders b on  a.id = b.business_opportunity_id 
					left join orders c on c.id = b.order_id
				where c.id is null 
				<if test="reportDate_start != null and reportDate_start !=''">
					<![CDATA[
					and a.deliver_start_date >= #{reportDate_start}
					]]>
				</if>
				<if test="reportDate_end != null and reportDate_end !=''">
					<![CDATA[
					and a.deliver_end_date <= #{reportDate_end}
					]]>
				</if>
				<if test="progress_start != null and progress_start !=''">
					<![CDATA[
					and a.progress >= #{progress_start}
					]]>
				</if>
				<if test="progress_end != null and progress_end !=''">
					<![CDATA[
					and a.progress <= #{progress_end}
					]]>
				</if>
			)
			and  clients.whether_channel = 1 and clients.channel != '' and clients.channel != ''  is not null
			group by clients.channel,cur.name
		) t 
		group by t.channel,t.currency
		
	</select>
	
	<select id="getOrdersByChannel" parameterType="map" resultType="Report">
		select clients.channel as channel ,channels.channel_name as channel_name,ord.budget_currency as currency, sum(adv.budget_ratio) as budgetSum 
			from orders ord right join advertisements adv on ord.id=adv.order_id 
			left join products as products on adv.product_id = products.id
			left join clients as clients on clients.id = ord.client_id
			left join channels as channels on clients.channel = channels.id
			where adv.order_id in (
				select distinct(c.id) from business_opportunities a 
					left join business_opportunity_orders b on  a.id = b.business_opportunity_id 
					left join orders c on c.id = b.order_id
				where c.id is not null and  (c.state = 'examine_completed')
				<if test="reportDate_start != null and reportDate_start !=''">
					<![CDATA[
					and c.start_date >= #{reportDate_start}
					]]>
				</if>
				<if test="reportDate_end != null and reportDate_end !=''">
					<![CDATA[
					and c.ending_date <= #{reportDate_end}
					]]>
				</if>
			)
			and  clients.whether_channel = 1 and clients.channel != '' and clients.channel != ''  is not null
			group by clients.channel,ord.budget_currency
	</select>
	
</mapper> 
