<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.asgab.repository.UserMapper">
	
	<select id="get" parameterType="long" resultType="User">
		select a.id,a.admin_account,a.version_type, a.date_register, a.expires_time,b.backup_count,b.lastBackup_date
		from tb_enterprise a left join tb_backuprecord b on a.id = b.enterprise_id 
		where a.admin_account = #{value}
	</select>

	<select id="search" parameterType="map" resultType="User">
		select a.id,a.admin_account,a.version_type, a.date_register, a.expires_time,b.backup_count,b.lastBackup_date
		from tb_enterprise a left join tb_backuprecord b on a.id = b.enterprise_id 
		where 1=1
		<if test="admin_account != null and admin_account != '' ">
		    and admin_account like "%"#{admin_account}"%"
		</if>
		<if test="searchType == 1 ">
		    and exists (
		    <![CDATA[
		    select pay_id from `yls_rechargerecord` where money > 0  and pay_date >= #{search_start} and pay_date <= #{search_end} and enterpriseid = a.id order by pay_date asc limit 0,1
		    ]]>
		    )
		</if>
		<!-- 过期3天 -->
		<if test="searchType == 2 ">
		    <![CDATA[
			and a.expires_time >= #{search_start} and a.expires_time <= #{search_end}
		    ]]>
			and exists (
		    select pay_id from `yls_rechargerecord` where money > 0  and enterpriseid = a.id
		    )
		</if>
		<!-- 还剩5天 付费-->
		<if test="searchType == 3 ">
		    <![CDATA[
			and a.expires_time >= #{search_start} and a.expires_time <= #{search_end}
		    ]]>
			and exists (
		    select pay_id from `yls_rechargerecord` where money > 0  and enterpriseid = a.id
		    )
		</if>
		<!-- 还剩5天 试用-->
		<if test="searchType == 4 ">
		    <![CDATA[
			and a.expires_time >= #{search_start} and a.expires_time <= #{search_end}
		    ]]>
			and not exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
		<!-- 在使用的付费用户 -->
		<if test="searchType == 5 ">
		    <![CDATA[
			and a.expires_time >= #{search_start}
		    ]]>
			and exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
		<!-- 付费3天未备份用户 -->
		<if test="searchType == 6 ">
			<![CDATA[
			and b.lastBackup_date <= #{search_start}
			 ]]>
			and exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
		<!-- 试用3天未备份用户 -->
		<if test="searchType == 7 ">
			<![CDATA[
			and b.lastBackup_date <= #{search_start}
			 ]]>
			and not exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
		<if test="sort != null and sort!=''">
			order by ${sort}
		</if>
	</select>
	
	<select id="count" parameterType="map" resultType="int">
		select count(1) 
		from tb_enterprise a left join tb_backuprecord b on a.id = b.enterprise_id 
		where 1=1
		<if test="admin_account != null and admin_account != '' ">
		    and admin_account like "%"#{admin_account}"%"
		</if>
		<if test="searchType == 1 ">
		    and exists (
		    <![CDATA[
		    select pay_id from `yls_rechargerecord` where money > 0  and pay_date >= #{search_start} and pay_date <= #{search_end} and enterpriseid = a.id order by pay_date asc limit 0,1
		    ]]>
		    )
		</if>
		<!-- 过期3天 -->
		<if test="searchType == 2 ">
		    <![CDATA[
			and a.expires_time >= #{search_start} and a.expires_time <= #{search_end}
		    ]]>
			and exists (
		    select pay_id from `yls_rechargerecord` where money > 0  and enterpriseid = a.id
		    )
		</if>
		<!-- 还剩5天 付费-->
		<if test="searchType == 3 ">
		    <![CDATA[
			and a.expires_time >= #{search_start} and a.expires_time <= #{search_end}
		    ]]>
			and exists (
		    select pay_id from `yls_rechargerecord` where money > 0  and enterpriseid = a.id
		    )
		</if>
		<!-- 还剩5天 试用-->
		<if test="searchType == 4 ">
		    <![CDATA[
			and a.expires_time >= #{search_start} and a.expires_time <= #{search_end}
		    ]]>
			and not exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
		<!-- 在使用的付费用户 -->
		<if test="searchType == 5 ">
		    <![CDATA[
			and a.expires_time >= #{search_start}
		    ]]>
			and exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
		<!-- 付费3天未备份用户 -->
		<if test="searchType == 6 ">
			<![CDATA[
			and b.lastBackup_date <= #{search_start}
			 ]]>
			and exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
		<!-- 试用3天未备份用户 -->
		<if test="searchType == 7 ">
			<![CDATA[
			and b.lastBackup_date <= #{search_start}
			 ]]>
			and not exists ( select pay_id from `yls_rechargerecord` where money > 0 and enterpriseid = a.id)
		</if>
	</select>
	
</mapper> 
