<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.asgab.repository.UserMapper">
	
	<select id="get" parameterType="String" resultType="User">
		select a.id,a.admin_account,a.version_type, a.date_register, if(a.expires_time &lt;= 253402271999602,a.expires_time,253402271999602) as expires_time , 
		a.name,a.contact_phoneMobile,b.backup_count,b.lastBackup_date,c.money as accountMoney,d.deviceName,
		(select count(0) from tb_membercardcategory where enterprise_id = a.id) as  membercardcategoryCount,
		(select count(0) from tb_employee where enterprise_id = a.id) as  employeeCount,
		(select count(0) from tb_service left join tb_service_cate on tb_service.serviceCategory_id = tb_service_cate.id where tb_service.enterprise_id = a.id) as serviceCount
		from tb_enterprise a left join tb_backuprecord b on a.id = b.enterprise_id 
		left join yls_paymentaccount c on c.enterpriseid = a.id
		left join tb_userlogincounts d on d.username = a.admin_account
		where a.id = #{value}
	</select>

	<select id="search" parameterType="map" resultType="User">
		select a.id,a.admin_account,a.version_type, a.date_register, if(a.expires_time &lt;= 253402271999602,a.expires_time,253402271999602) as expires_time , 
		a.name,a.contact_phoneMobile,b.backup_count,b.lastBackup_date
		from tb_enterprise a left join tb_backuprecord b on a.id = b.enterprise_id 
		where 1=1
		<if test="admin_account != null and admin_account != '' ">
		    and admin_account like "%"#{admin_account}"%"
		</if>
		<!-- 因为第一个用$占位 -->
		<if test="searchType !=0 and enterpriseIds != null and enterpriseIds.size() >= 1 ">
		    and a.id 
		    <if test="searchIn == 1">
		    	in
		    </if>
		    <if test="searchIn == 0">
		    	not in
		    </if>
		    <foreach collection="enterpriseIds" item="id" open="(" close=")" separator=",">
		    	#{id}
		    </foreach>
		</if>
		<if test="search_start != null and search_start !='' ">
			<![CDATA[
			and a.expires_time >= #{search_start} 
		    ]]>
		</if>
		<if test="search_end != null and search_end !='' ">
			<![CDATA[
			and a.expires_time <= #{search_end}
		    ]]>
		</if>
		
		<!-- 付费未过期 3天未备份 (和6一样. 但是需要加上未备份) -->
		<if test="searchType == 8 or searchType == 9">
			<![CDATA[
			and b.lastBackup_date <= #{backup_date}
			 ]]>
		</if>
		<if test="sort != null and sort!=''">
			order by ${sort}
		</if>
	</select>
	
	<select id="count" parameterType="map" resultType="int">
		select count(1) 
		from tb_enterprise a left join tb_backuprecord b on a.id = b.enterprise_id 
		where 1=1
		<if test="admin_account != null and admin_account != '' ">
		    and admin_account like "%"#{admin_account}"%"
		</if>
		<!-- 因为第一个用$占位 -->
		<if test="searchType !=0 and enterpriseIds != null and enterpriseIds.size() >= 1 ">
		    and a.id 
		    <if test="searchIn == 1">
		    	in
		    </if>
		    <if test="searchIn == 0">
		    	not in
		    </if>
		    <foreach collection="enterpriseIds" item="id" open="(" close=")" separator=",">
		    	#{id}
		    </foreach>
		</if>
		<if test="search_start != null and search_start !='' ">
			<![CDATA[
			and a.expires_time >= #{search_start} 
		    ]]>
		</if>
		<if test="search_end != null and search_end !='' ">
			<![CDATA[
			and a.expires_time <= #{search_end}
		    ]]>
		</if>
		
		<!-- 付费未过期 3天未备份 (和6一样. 但是需要加上未备份) -->
		<if test="searchType == 8 or searchType == 9">
			<![CDATA[
			and b.lastBackup_date <= #{backup_date}
			 ]]>
		</if>
	
	</select>
	
	<select id="getPayingUsers" parameterType="String" resultType="User">
		select a.id,a.admin_account,a.version_type, a.date_register, if(a.expires_time &lt;= 253402271999602,a.expires_time,253402271999602) as expires_time,
		b.pay_id,b.pay_date,b.money,b.month,b.expires_time as recharge_expires_time,b.version_type as echarge_version_type,b.description,b.operator,b.day
		from tb_enterprise a inner join yls_rechargeRecord b on a.id = b.enterpriseId
		and a.id in (
			select distinct(enterpriseId) from yls_rechargeRecord where money > 0 
		)
		order by a.id asc , b.pay_date asc
	</select>
	
	<!-- 获取备份记录 -->
	<select id="countBackupHistorysByEnterpriseId" parameterType="map" resultType="Integer">
		select count(0) from tb_backuphistory where enterprise_id = #{enterprise_id}
			<![CDATA[ and backup_time >= #{time1} and backup_time <= #{time2} ]]>
		union all
		select count(0) from tb_backuphistory where enterprise_id = #{enterprise_id}
			<![CDATA[ and backup_time >= #{time3} and backup_time <= #{time4} ]]>
		union all
		select count(0) from tb_backuphistory where enterprise_id = #{enterprise_id}
			<![CDATA[ and backup_time >= #{time5} and backup_time <= #{time6} ]]>
	</select>
	
	<!-- 获取设备记录 -->
	<select id="getUserLoginCount" parameterType="String" resultType="String">
		select id from tb_userlogincounts where username = #{value}
	</select>
	
	<!-- 删除设备记录 -->
	<select id="deleteUserLoginCount" parameterType="String" resultType="Integer">
		delete from tb_userlogincounts where id = #{id}
	</select>
	
	<select id="getBackupHistory" parameterType="String" resultType="BackupHistory">
		select enterprise_id,backup_time,id from tb_backuphistory 
			where enterprise_id = #{value}
			order by backup_time desc
			limit 0,10
	</select>
</mapper> 
